<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dumbphone.mousetrap"
    android:versionCode="4"
    android:versionName="1.2.0">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:icon="@drawable/ic_mouse_pointer"
        android:roundIcon="@drawable/ic_mouse_pointer"
        android:label="Mouse Trap"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Choose apps that automatically activate DumbMouse" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>
</manifest>
